/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('images/shop.jpg.webp') no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff; /* Light azure */
    color: #333333;
    line-height: 1.6;
    font-size: 18px;
    text-align: center; /* Center align text */
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

/* Header and Navigation Bar */
header {
    background: #1e90ff; /* Dodger blue */
    color: white;
    padding: 20px 0;
    border-bottom: #ffffff 3px solid;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff69b4; /* Hot pink */
}

/* Footer */
footer {
    padding: 20px;
    background-color: #1e90ff; /* Dodger blue */
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/* Content Styles */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold; /* Bold headers */
    margin-bottom: 20px;
}


/* Responsive Design */
@media (max-width: 768px) {
    .container, nav {
        width: 95%;
    }
}

/* Additional Styles */
.content {
    text-align: left; /* Align text left within the content area */
    padding: 20px;
}


/* Table Styles */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Add more custom styles as needed */
.custom-background {
    background: url('images/shop.jpg.webp') no-repeat center center fixed; 
    background-size: cover;
    /* You might want to set a specific height */
    min-height: 500px;
}


